In [1]:
! pip install faker==23.0.0

Requirement already satisfied: faker==23.0.0 in /opt/homebrew/anaconda3/lib/python3.12/site-packages (23.0.0)
Requirement already satisfied: python-dateutil>=2.4 in /opt/homebrew/anaconda3/lib/python3.12/site-packages (from faker==23.0.0) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /opt/homebrew/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.4->faker==23.0.0) (1.16.0)

In [2]:
# VARIANT Data Type Exploration in Databricks
# This notebook demonstrates various features and capabilities of the VARIANT data type

from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *
import json
import random
from datetime import datetime, timedelta
from faker import Faker
import os

# =============================================================================
# CONFIGURATION PARAMETERS
# =============================================================================
# Update these parameters to customize the notebook for your environment
CATALOG = "pavan_naidu"                    # Unity Catalog name
SCHEMA = "json"                            # Schema name within the catalog
VOLUME = "raw_data"                        # Volume name for storing data
# =============================================================================

def get_spark() -> SparkSession:
    try:
        from databricks.connect import DatabricksSession
        return DatabricksSession.builder.getOrCreate()
    except Exception:
        return SparkSession.builder.getOrCreate()

spark = get_spark()
fake = Faker()



# Set catalog and schema using parameters
spark.sql(f"USE CATALOG {CATALOG}")
spark.sql(f"USE SCHEMA {SCHEMA}")

print("✅ Spark session initialized")
print(f"Current catalog: {spark.sql('SELECT current_catalog()').collect()[0][0]}")
print(f"Current schema: {spark.sql('SELECT current_schema()').collect()[0][0]}")
print(f"Configuration: CATALOG={CATALOG}, SCHEMA={SCHEMA}, VOLUME={VOLUME}")

✅ Spark session initialized

HBox(children=(IntProgress(value=0, bar_style='success'), Label(value='')))

Current catalog: pavan_naidu

HBox(children=(IntProgress(value=0, bar_style='success'), Label(value='')))

Current schema: json
Configuration: CATALOG=pavan_naidu, SCHEMA=json, VOLUME=raw_data

## 1. Setup: Create UC Volume and Generate Fake JSON Data

First, let's create a folder in Unity Catalog volume and generate diverse JSON data to showcase VARIANT functionality.

In [3]:
# Create or verify volume exists
try:
    spark.sql(f"CREATE VOLUME IF NOT EXISTS {CATALOG}.{SCHEMA}.{VOLUME}")
    print(f"✅ Volume '{VOLUME}' is ready")
except Exception as e:
    print(f"Volume might already exist or error: {e}")

# Get the volume path
volume_path = f"/Volumes/{CATALOG}/{SCHEMA}/{VOLUME}"
print(f"Volume path: {volume_path}")

✅ Volume 'raw_data' is ready
Volume path: /Volumes/pavan_naidu/json/raw_data

In [4]:
# Generate fake user data to demonstrate VARIANT capabilities

def generate_user_data(num_records=1000):
    """Generate user data with varying structures to simulate schema evolution"""
    users = []
    
    for i in range(num_records):
        # Basic user structure (all users have these fields)
        user = {
            "user_id": str(fake.uuid4()),
            "username": fake.user_name(),
            "email": fake.email(),
            "name": fake.name(),
            "age": random.randint(18, 80),
            "created_at": str(fake.date_time_between(start_date='-5y', end_date='now')),
            "last_login": str(fake.date_time_between(start_date='-30d', end_date='now'))
        }
        
        # Profile information (nested structure)
        user["profile"] = {
            "bio": fake.text(max_nb_chars=200),
            "occupation": fake.job(),
            "company": fake.company(),
            "interests": [fake.word() for _ in range(random.randint(1, 5))],
            "skills": [fake.job() for _ in range(random.randint(0, 3))]
        }
        
        # Address information (nested with multiple levels)
        user["address"] = {
            "street": fake.street_address(),
            "city": fake.city(),
            "state": fake.state(),
            "country": fake.country(),
            "postal_code": fake.postcode(),
            "coordinates": {
                "latitude": float(fake.latitude()),
                "longitude": float(fake.longitude())
            }
        }
        
        # Preferences (nested boolean flags)
        user["preferences"] = {
            "newsletter": bool(random.choice([True, False])),
            "notifications": {
                "email": bool(random.choice([True, False])),
                "sms": bool(random.choice([True, False])),
                "push": bool(random.choice([True, False])),
                "frequency": random.choice(["daily", "weekly", "monthly", "never"])
            },
            "privacy": {
                "profile_visible": bool(random.choice([True, False])),
                "show_email": bool(random.choice([True, False])),
                "show_location": bool(random.choice([True, False]))
            }
        }
        
        # Simulate schema evolution - newer users have additional fields
        if i > num_records * 0.3:  # 70% of users have these newer fields
            user["social_media"] = {
                "twitter": f"@{fake.user_name()}" if random.random() > 0.3 else None,
                "linkedin": fake.url() if random.random() > 0.5 else None,
                "github": f"github.com/{fake.user_name()}" if random.random() > 0.7 else None
            }
            
        if i > num_records * 0.6:  # 40% of users have these newest fields
            user["subscription"] = {
                "tier": random.choice(["free", "basic", "premium", "enterprise"]),
                "start_date": str(fake.date_between(start_date='-2y', end_date='today')),
                "auto_renew": bool(random.choice([True, False]))
            }
            user["metrics"] = {
                "login_count": random.randint(1, 1000),
                "posts_created": random.randint(0, 500),
                "comments_made": random.randint(0, 2000),
                "last_activity": str(fake.date_time_between(start_date='-7d', end_date='now'))
            }
        
        # Some users have optional fields (simulate sparse data)
        if random.random() > 0.7:
            user["phone"] = fake.phone_number()
        
        if random.random() > 0.8:
            user["referral_code"] = fake.bothify(text='REF-####-????')
            user["referred_by"] = str(fake.uuid4()) if random.random() > 0.5 else None
        
        users.append(user)
    
    return users

# Generate sample user data
print("Generating fake user data...")
user_data = generate_user_data(1000)
print(f"✅ Generated {len(user_data)} user records with evolving schemas")

# Show sample records demonstrating schema evolution
print("\nSample user records showing schema evolution:")
print("\n1. Basic user (early schema):")
print(json.dumps(user_data[100], indent=2)[:600] + "...")
print("\n2. User with social media (mid evolution):")
print(json.dumps(user_data[500], indent=2)[:600] + "...")
print("\n3. User with full schema (latest):")
print(json.dumps(user_data[900], indent=2)[:600] + "...")

Generating fake user data...
✅ Generated 1000 user records with evolving schemas

Sample user records showing schema evolution:

1. Basic user (early schema):
{
  "user_id": "aa678282-2c08-4c58-a033-121fa20018ee",
  "username": "mclaughlinerica",
  "email": "phaynes@example.net",
  "name": "Jessica Ashley",
  "age": 47,
  "created_at": "2021-01-05 10:22:25.812395",
  "last_login": "2025-09-12 00:50:59.097657",
  "profile": {
    "bio": "Final form term full now. Buy week but some concern field.\nRecent cultural north girl city hot. Real hope how letter customer usually activity.",
    "occupation": "Newspaper journalist",
    "company": "Griffin, Wagner and Miller",
    "interests": [
      "box",
      "yourself",
      "officer",
      "recently",...

2. User with social media (mid evolution):
{
  "user_id": "0000a2e5-f9ac-4a06-b3f6-37bedd425ba1",
  "username": "russotina",
  "email": "shannonhernandez@example.com",
  "name": "David Meyer",
  "age": 74,
  "created_at": "2021-07-05 03:49:38.853725",
  "last_login": "2025-09-09 06:25:43.473106",
  "profile": {
    "bio": "Power anyone night true. Land teacher protect what computer born. Figure citizen last Mrs exactly and. One property whether.",
    "occupation": "Waste management officer",
    "company": "Rush-Ferguson",
    "interests": [
      "usually",
      "company"
    ],
    "skills": []
  },
  "address": {
    "street": "54...

3. User with full schema (latest):
{
  "user_id": "de6cf9d6-7c80-4c67-8b95-98bee786507c",
  "username": "nancy99",
  "email": "joannapena@example.net",
  "name": "Trevor Shah",
  "age": 62,
  "created_at": "2021-07-04 17:05:24.784510",
  "last_login": "2025-09-17 22:14:42.361903",
  "profile": {
    "bio": "Quickly wish however foot check treat. Our memory he Republican. Table available tax explain Congress.\nPersonal toward eat day especially skill base military. Show room feel law thank.",
    "occupation": "Solicitor",
    "company": "Brown, Bates and Rivera",
    "interests": [
      "cultural",
      "suffer",
      "conta...

In [5]:
# Create a users folder in the volume
users_folder = f"{volume_path}/users"
try:
    dbutils.fs.mkdirs(users_folder)
    print(f"✅ Created folder: {users_folder}")
except Exception as e:
    print(f"Folder might already exist: {e}")

# Save JSON data to users folder
json_file_path = f"{users_folder}/user_data.json"

# Write JSON data to file
dbutils.fs.put(json_file_path, json.dumps(user_data), overwrite=True)
print(f"✅ Saved JSON data to: {json_file_path}")

# Also save as individual JSON lines for easier processing
jsonl_file_path = f"{users_folder}/user_data.jsonl"
jsonl_content = "\n".join([json.dumps(user) for user in user_data])
dbutils.fs.put(jsonl_file_path, jsonl_content, overwrite=True)
print(f"✅ Saved JSONL data to: {jsonl_file_path}")

# # Optionally, save data partitioned by subscription tier for those who have it
# print("\n📁 Creating partitioned data by subscription tier...")
# for user in user_data:
#     if "subscription" in user:
#         tier = user.get("subscription", {}).get("tier", "unknown")
#         tier_folder = f"{users_folder}/by_tier/{tier}"
        
#         # Create tier folder if it doesn't exist
#         try:
#             dbutils.fs.mkdirs(tier_folder)
#         except:
#             pass  # Folder exists
        
#         # Save user to appropriate tier folder
#         user_file = f"{tier_folder}/{user['user_id']}.json"
#         dbutils.fs.put(user_file, json.dumps(user), overwrite=True)

# print("✅ Created partitioned user data by subscription tier")

# List the created structure
print("\n📂 Folder structure created:")
display(dbutils.fs.ls(users_folder))

✅ Created folder: /Volumes/pavan_naidu/json/raw_data/users
✅ Saved JSON data to: /Volumes/pavan_naidu/json/raw_data/users/user_data.json
✅ Saved JSONL data to: /Volumes/pavan_naidu/json/raw_data/users/user_data.jsonl

📂 Folder structure created:

[FileInfo(path='/Volumes/pavan_naidu/json/raw_data/users/user_data.json', name='user_data.json', size=1154815, modificationTime=1758573593000),
 FileInfo(path='/Volumes/pavan_naidu/json/raw_data/users/user_data.jsonl', name='user_data.jsonl', size=1153814, modificationTime=1758573594000)]

## 2. Creating Tables with VARIANT Data Type

Let's create tables to store our JSON data using the VARIANT type.

In [6]:
# Drop tables if they exist
spark.sql("DROP TABLE IF EXISTS users_variant")
spark.sql("DROP TABLE IF EXISTS users_extracted")

# Create a table with VARIANT column for user data
# Enable Delta feature for column defaults
spark.sql(f"""
    CREATE TABLE IF NOT EXISTS users_variant (
        user_id STRING,
        username STRING,
        email STRING,
        user_data VARIANT,
        ingestion_timestamp TIMESTAMP DEFAULT CURRENT_TIMESTAMP()
    )
    USING DELTA
    TBLPROPERTIES('delta.feature.allowColumnDefaults' = 'supported')
    COMMENT 'Table storing user data in VARIANT column'
""")

print("✅ Created table: users_variant with column defaults enabled")

# Create another table with extracted fields for performance comparison
spark.sql(f"""
    CREATE TABLE IF NOT EXISTS users_extracted (
        user_id STRING,
        username STRING,
        email STRING,
        name STRING,
        age INT,
        city STRING,
        country STRING,
        subscription_tier STRING,
        user_data VARIANT,
        ingestion_timestamp TIMESTAMP DEFAULT CURRENT_TIMESTAMP()
    )
    USING DELTA
    TBLPROPERTIES('delta.feature.allowColumnDefaults' = 'supported')
    COMMENT 'Table with commonly accessed fields extracted from VARIANT'
""")

print("✅ Created table: users_extracted")

# Show table schemas
print("\nTable Schemas:")
spark.sql("DESCRIBE TABLE users_variant").show()
spark.sql("DESCRIBE TABLE users_extracted").show()

✅ Created table: users_variant with column defaults enabled
✅ Created table: users_extracted

Table Schemas:
+-------------------+---------+-------+
|           col_name|data_type|comment|
+-------------------+---------+-------+
|            user_id|   string|   NULL|
|           username|   string|   NULL|
|              email|   string|   NULL|
|          user_data|  variant|   NULL|
|ingestion_timestamp|timestamp|   NULL|
+-------------------+---------+-------+

+-------------------+---------+-------+
|           col_name|data_type|comment|
+-------------------+---------+-------+
|            user_id|   string|   NULL|
|           username|   string|   NULL|
|              email|   string|   NULL|
|               name|   string|   NULL|
|                age|      int|   NULL|
|               city|   string|   NULL|
|            country|   string|   NULL|
|  subscription_tier|   string|   NULL|
|          user_data|  variant|   NULL|
|ingestion_timestamp|timestamp|   NULL|
+-------------------+---------+-------+

## 3. Loading Data into VARIANT Columns

Now let's load our JSON data into the tables using different methods.

In [7]:
# Method 1: Load from JSON file using PARSE_JSON
spark.sql(f"""
    INSERT INTO users_variant (user_id, username, email, user_data)
    SELECT 
        PARSE_JSON(value):user_id as user_id,
        PARSE_JSON(value):username as username,
        PARSE_JSON(value):email as email,
        PARSE_JSON(value) as user_data
    FROM (
        SELECT value 
        FROM text.`{jsonl_file_path}`
    )
""")

count = spark.sql("SELECT COUNT(*) FROM users_variant").collect()[0][0]
print(f"✅ Loaded {count} records into users_variant using PARSE_JSON")

# Show sample data
print("\nSample data from users_variant:")
spark.sql("SELECT * FROM users_variant LIMIT 5").show(truncate=False)

HBox(children=(IntProgress(value=0, bar_style='success'), Label(value='')))

HBox(children=(IntProgress(value=0, bar_style='success'), Label(value='')))

✅ Loaded 1000 records into users_variant using PARSE_JSON

Sample data from users_variant:

HBox(children=(IntProgress(value=0, bar_style='success'), Label(value='')))

+------------------------------------+-----------+-------------------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-------------------------+
|user_id                             |username   |email                    |user_data                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     |ingestion_timestamp      |
+------------------------------------+-----------+-------------------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-------------------------+
|eecea0f0-eab8-419d-8b06-dbb99aa1fe25|melissakim |ronaldlindsey@example.com|{"address":{"city":"Whiteport","coordinates":{"latitude":45.52434,"longitude":-63.877788},"country":"Palestinian Territory","postal_code":"61112","state":"South Dakota","street":"57118 Charles Meadows Suite 853"},"age":39,"created_at":"2023-03-04 14:33:24.612413","email":"ronaldlindsey@example.com","last_login":"2025-09-10 14:35:26.009583","name":"Brittney Smith","preferences":{"newsletter":true,"notifications":{"email":false,"frequency":"weekly","push":false,"sms":false},"privacy":{"profile_visible":false,"show_email":true,"show_location":false}},"profile":{"bio":"Company because natural drive serve student. Late their already health everybody you. Or old despite chance our among just challenge.","company":"Wilson, Harrington and Ryan","interests":["prepare","six","culture","citizen","its"],"occupation":"Hotel manager","skills":["Automotive engineer"]},"user_id":"eecea0f0-eab8-419d-8b06-dbb99aa1fe25","username":"melissakim"}                   |2025-09-22 20:39:59.75833|
|bb3f174f-01e9-413b-908b-c46e8bee5f4c|wilsondonna|smithgregory@example.org |{"address":{"city":"Jamesville","coordinates":{"latitude":30.179289,"longitude":33.098233},"country":"Sierra Leone","postal_code":"99204","state":"Indiana","street":"207 Reyes Points"},"age":29,"created_at":"2025-04-13 16:42:24.125993","email":"smithgregory@example.org","last_login":"2025-09-12 01:51:21.963096","name":"Julie Rhodes","preferences":{"newsletter":true,"notifications":{"email":true,"frequency":"daily","push":false,"sms":false},"privacy":{"profile_visible":true,"show_email":true,"show_location":false}},"profile":{"bio":"Against deep region station hear still produce. Kid interesting ahead.\nFigure week wear movie hit say know. Least state only. Although feeling take must.","company":"Maxwell-Joseph","interests":["probably","face","decade"],"occupation":"Therapist, speech and language","skills":[]},"user_id":"bb3f174f-01e9-413b-908b-c46e8bee5f4c","username":"wilsondonna"}                                                               |2025-09-22 20:39:59.75833|
|d2c36846-6a45-4b7f-a75b-911a59d37dc0|megan54    |yhensley@example.net     |{"address":{"city":"West Jeremy","coordinates":{"latitude":-82.63084,"longitude":-21.997793},"country":"Angola","postal_code":"85113","state":"Florida","street":"891 Simpson Falls"},"age":66,"created_at":"2022-09-20 08:54:32.634071","email":"yhensley@example.net","last_login":"2025-09-11 05:37:05.508054","name":"Haley Carter","preferences":{"newsletter":true,"notifications":{"email":false,"frequency":"daily","push":false,"sms":false},"privacy":{"profile_visible":true,"show_email":false,"show_location":true}},"profile":{"bio":"Suffer per probably deep quality part young. White sure low second arm.\nWe carry no movement coach compare. Low career suddenly business health environment. Store safe simple war we medical note.","company":"Anderson-Olsen","interests":["home"],"occupation":"Industrial/product designer","skills":["Records manager","Public relations account executive"]},"user_id":"d2c36846-6a45-4b7f-a75b-911a59d37dc0","username":"megan54"}|2025-09-22 20:39:59.75833|
|0c299963-d8bc-44fd-97db-cd977623b678|cruzrobert |fbates@example.org       |{"address":{"city":"Michaelburgh","coordinates":{"latitude":54.740459,"longitude":-82.412158},"country":"Sudan","postal_code":"53839","state":"Alabama","street":"68508 Courtney Ville"},"age":41,"created_at":"2021-04-26 17:34:18.354322","email":"fbates@example.org","last_login":"2025-08-24 18:51:40.985583","name":"Amanda Allen","preferences":{"newsletter":true,"notifications":{"email":true,"frequency":"never","push":true,"sms":true},"privacy":{"profile_visible":false,"show_email":true,"show_location":true}},"profile":{"bio":"Energy age Congress from word term worker.\nEither ready music. Individual serve unit able series. Including hold good debate recently whole enjoy around.","company":"Ewing, Prince and Richards","interests":["and","seat"],"occupation":"International aid/development worker","skills":[]},"user_id":"0c299963-d8bc-44fd-97db-cd977623b678","username":"cruzrobert"}                                                                    |2025-09-22 20:39:59.75833|
|b68450c0-5206-4779-8bf6-07b496ca7ded|robert50   |hicksbeth@example.net    |{"address":{"city":"Port Emily","coordinates":{"latitude":-82.922867,"longitude":143.553171},"country":"Sierra Leone","postal_code":"90898","state":"Utah","street":"86750 Brown Tunnel"},"age":49,"created_at":"2023-07-04 18:29:58.896202","email":"hicksbeth@example.net","last_login":"2025-08-30 13:48:32.812215","name":"Melissa Bush","preferences":{"newsletter":false,"notifications":{"email":false,"frequency":"monthly","push":true,"sms":false},"privacy":{"profile_visible":false,"show_email":false,"show_location":true}},"profile":{"bio":"Relationship door few area one benefit. Husband likely term night identify. Ago whether career mission.\nMeet budget yourself structure north exactly. Service keep marriage door debate.","company":"Dickerson PLC","interests":["attack","center","paper"],"occupation":"Trade mark attorney","skills":[]},"user_id":"b68450c0-5206-4779-8bf6-07b496ca7ded","username":"robert50"}                                              |2025-09-22 20:39:59.75833|
+------------------------------------+-----------+-------------------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-------------------------+

In [8]:
# Method 2: Load data with extracted fields for optimized queries
spark.sql(f"""
    INSERT INTO users_extracted 
    SELECT 
        PARSE_JSON(value):user_id as user_id,
        PARSE_JSON(value):username as username,
        PARSE_JSON(value):email as email,
        PARSE_JSON(value):name as name,
        CAST(PARSE_JSON(value):age AS INT) as age,
        PARSE_JSON(value):address.city as city,
        PARSE_JSON(value):address.country as country,
        PARSE_JSON(value):subscription.tier as subscription_tier,
        PARSE_JSON(value) as user_data,
        CURRENT_TIMESTAMP() as ingestion_timestamp
    FROM (
        SELECT value 
        FROM text.`{jsonl_file_path}`
    )
""")

count = spark.sql("SELECT COUNT(*) FROM users_extracted").collect()[0][0]
print(f"✅ Loaded {count} records into users_extracted with extracted fields")

# Show sample
print("\nSample data from users_extracted (with extracted fields):")
spark.sql("SELECT user_id, name, age, city, subscription_tier FROM users_extracted LIMIT 5").show(truncate=False)

HBox(children=(IntProgress(value=0, bar_style='success'), Label(value='')))

HBox(children=(IntProgress(value=0, bar_style='success'), Label(value='')))

✅ Loaded 1000 records into users_extracted with extracted fields

Sample data from users_extracted (with extracted fields):

HBox(children=(IntProgress(value=0, bar_style='success'), Label(value='')))

+------------------------------------+--------------+---+------------+-----------------+
|user_id                             |name          |age|city        |subscription_tier|
+------------------------------------+--------------+---+------------+-----------------+
|eecea0f0-eab8-419d-8b06-dbb99aa1fe25|Brittney Smith|39 |Whiteport   |NULL             |
|bb3f174f-01e9-413b-908b-c46e8bee5f4c|Julie Rhodes  |29 |Jamesville  |NULL             |
|d2c36846-6a45-4b7f-a75b-911a59d37dc0|Haley Carter  |66 |West Jeremy |NULL             |
|0c299963-d8bc-44fd-97db-cd977623b678|Amanda Allen  |41 |Michaelburgh|NULL             |
|b68450c0-5206-4779-8bf6-07b496ca7ded|Melissa Bush  |49 |Port Emily  |NULL             |
+------------------------------------+--------------+---+------------+-----------------+

## VARIANT Query Notation Reference

Before diving into examples, here's the correct notation for querying VARIANT data:

### Basic Notation Rules:

1. **Field Access**: Use `:` to access top-level fields
   ```sql
   column_name:field_name
   ```

2. **Subfield Access**: Use `.` to access nested fields
   ```sql
   column_name:field_name.subfield_name
   ```

3. **Array Element Access**: Use `[n]` to access array elements by index
   ```sql
   column_name:array_name[0]  -- First element (0-indexed)
   column_name:array_name[1]  -- Second element
   ```

### Examples:

```sql
-- Correct VARIANT notation examples
SELECT 
  user_data:name as name,                           -- Field access
  user_data:age as age,                             -- Field access
  user_data:profile.bio as bio,                     -- Subfield access
  user_data:address.city as city,                   -- Nested subfield
  user_data:address.coordinates.latitude as lat,    -- Deeply nested subfield
  user_data:interests[0] as first_interest,         -- Array element access
  user_data:profile.skills[1] as second_skill       -- Array element in nested object
FROM users_variant;
```

### Common Mistakes to Avoid:

❌ **Incorrect**: `user_data:profile:bio` (using `:` for subfields)  
✅ **Correct**: `user_data:profile.bio` (using `.` for subfields)

❌ **Incorrect**: `user_data:interests.0` (using `.` for array indices)  
✅ **Correct**: `user_data:interests[0]` (using `[]` for array indices)

## 4. Querying VARIANT Data - Basic Access Patterns

Let's explore different ways to access and query data stored in VARIANT columns.

In [9]:
# Accessing nested fields using correct VARIANT notation
print("=== Accessing Nested Fields ===\n")
print("VARIANT Query Notation:")
print("- Field access: column_name:field_name")
print("- Subfield access: column_name:field_name.subfield_name") 
print("- Array access: column_name:array_name[n]")
print()

spark.sql("""
    SELECT 
        user_id,
        user_data:name as name,
        user_data:age as age,
        user_data:profile.bio as bio,
        user_data:profile.occupation as occupation,
        user_data:address.city as city,
        user_data:address.coordinates.latitude as latitude,
        user_data:address.coordinates.longitude as longitude
    FROM users_variant
    LIMIT 5
""").show(truncate=False)

=== Accessing Nested Fields ===

VARIANT Query Notation:
- Field access: column_name:field_name
- Subfield access: column_name:field_name.subfield_name
- Array access: column_name:array_name[n]

HBox(children=(IntProgress(value=0, bar_style='success'), Label(value='')))

+------------------------------------+----------------+---+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+--------------------------------------+--------------+----------+----------+
|user_id                             |name            |age|bio                                                                                                                                                                                                   |occupation                            |city          |latitude  |longitude |
+------------------------------------+----------------+---+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+--------------------------------------+--------------+----------+----------+
|eecea0f0-eab8-419d-8b06-dbb99aa1fe25|"Brittney Smith"|39 |"Company because natural drive serve student. Late their already health everybody you. Or old despite chance our among just challenge."                                                               |"Hotel manager"                       |"Whiteport"   |45.52434  |-63.877788|
|bb3f174f-01e9-413b-908b-c46e8bee5f4c|"Julie Rhodes"  |29 |"Against deep region station hear still produce. Kid interesting ahead.\nFigure week wear movie hit say know. Least state only. Although feeling take must."                                          |"Therapist, speech and language"      |"Jamesville"  |30.179289 |33.098233 |
|d2c36846-6a45-4b7f-a75b-911a59d37dc0|"Haley Carter"  |66 |"Suffer per probably deep quality part young. White sure low second arm.\nWe carry no movement coach compare. Low career suddenly business health environment. Store safe simple war we medical note."|"Industrial/product designer"         |"West Jeremy" |-82.63084 |-21.997793|
|0c299963-d8bc-44fd-97db-cd977623b678|"Amanda Allen"  |41 |"Energy age Congress from word term worker.\nEither ready music. Individual serve unit able series. Including hold good debate recently whole enjoy around."                                          |"International aid/development worker"|"Michaelburgh"|54.740459 |-82.412158|
|b68450c0-5206-4779-8bf6-07b496ca7ded|"Melissa Bush"  |49 |"Relationship door few area one benefit. Husband likely term night identify. Ago whether career mission.\nMeet budget yourself structure north exactly. Service keep marriage door debate."           |"Trade mark attorney"                 |"Port Emily"  |-82.922867|143.553171|
+------------------------------------+----------------+---+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+--------------------------------------+--------------+----------+----------+

In [10]:
# Accessing array elements within VARIANT
print("=== Accessing Array Elements in VARIANT ===\n")

spark.sql("""
    SELECT 
        user_id,
        username,
        user_data:profile.interests[0] as first_interest,
        user_data:profile.interests[1] as second_interest,
        SIZE(CAST(user_data:profile.interests AS ARRAY<STRING>)) as total_interests,
        user_data:profile.skills as all_skills
    FROM users_variant
    WHERE NOT IS_VARIANT_NULL(user_data:profile.interests)
    LIMIT 5
""").show(truncate=False)

# Using VARIANT_EXPLODE with arrays in VARIANT
print("\n=== Exploding Arrays from VARIANT ===\n")

spark.sql("""
    SELECT 
        user_id,
        username,
        value as interest
    FROM users_variant,
    LATERAL VARIANT_EXPLODE(user_data:profile.interests)
    LIMIT 10
""").show(truncate=False)

=== Accessing Array Elements in VARIANT ===

HBox(children=(IntProgress(value=0, bar_style='success'), Label(value='')))

+------------------------------------+-----------+--------------+---------------+---------------+--------------------------------------------------------+
|user_id                             |username   |first_interest|second_interest|total_interests|all_skills                                              |
+------------------------------------+-----------+--------------+---------------+---------------+--------------------------------------------------------+
|eecea0f0-eab8-419d-8b06-dbb99aa1fe25|melissakim |"prepare"     |"six"          |5              |["Automotive engineer"]                                 |
|bb3f174f-01e9-413b-908b-c46e8bee5f4c|wilsondonna|"probably"    |"face"         |3              |[]                                                      |
|d2c36846-6a45-4b7f-a75b-911a59d37dc0|megan54    |"home"        |NULL           |1              |["Records manager","Public relations account executive"]|
|0c299963-d8bc-44fd-97db-cd977623b678|cruzrobert |"and"         |"seat"         |2              |[]                                                      |
|b68450c0-5206-4779-8bf6-07b496ca7ded|robert50   |"attack"      |"center"       |3              |[]                                                      |
+------------------------------------+-----------+--------------+---------------+---------------+--------------------------------------------------------+


=== Exploding Arrays from VARIANT ===

HBox(children=(IntProgress(value=0, bar_style='success'), Label(value='')))

+------------------------------------+-----------+----------+
|user_id                             |username   |interest  |
+------------------------------------+-----------+----------+
|eecea0f0-eab8-419d-8b06-dbb99aa1fe25|melissakim |"prepare" |
|eecea0f0-eab8-419d-8b06-dbb99aa1fe25|melissakim |"six"     |
|eecea0f0-eab8-419d-8b06-dbb99aa1fe25|melissakim |"culture" |
|eecea0f0-eab8-419d-8b06-dbb99aa1fe25|melissakim |"citizen" |
|eecea0f0-eab8-419d-8b06-dbb99aa1fe25|melissakim |"its"     |
|bb3f174f-01e9-413b-908b-c46e8bee5f4c|wilsondonna|"probably"|
|bb3f174f-01e9-413b-908b-c46e8bee5f4c|wilsondonna|"face"    |
|bb3f174f-01e9-413b-908b-c46e8bee5f4c|wilsondonna|"decade"  |
|d2c36846-6a45-4b7f-a75b-911a59d37dc0|megan54    |"home"    |
|0c299963-d8bc-44fd-97db-cd977623b678|cruzrobert |"and"     |
+------------------------------------+-----------+----------+

## 5. Type Casting and Conversion with VARIANT

VARIANT columns can be cast to specific types when needed.

In [11]:
# Type casting VARIANT fields
print("=== Type Casting VARIANT Fields ===\n")

spark.sql("""
    SELECT 
        user_id,
        user_data:age as age_variant,
        CAST(user_data:age AS INT) as age_int,
        CAST(user_data:created_at AS TIMESTAMP) as created_timestamp,
        CAST(user_data:preferences.newsletter AS BOOLEAN) as newsletter_bool,
        CAST(user_data:metrics.login_count AS INT) as login_count_int
    FROM users_variant
    LIMIT 5
""").show()

# Using TRY_CAST for safe casting (handles nulls gracefully)
print("\n=== Safe Casting with TRY_CAST ===\n")

spark.sql("""
    SELECT 
        user_id,
        TRY_CAST(user_data:age AS INT) as age,
        TRY_CAST(user_data:subscription.start_date AS DATE) as subscription_date,
        TRY_CAST(user_data:metrics.posts_created AS INT) as posts_count,
        TRY_CAST(user_data:phone AS STRING) as phone_number,
        TRY_CAST(user_data:last_login AS TIMESTAMP) as last_login_time
    FROM users_variant
    LIMIT 5
""").show()

=== Type Casting VARIANT Fields ===

HBox(children=(IntProgress(value=0, bar_style='success'), Label(value='')))

+--------------------+-----------+-------+--------------------+---------------+---------------+
|             user_id|age_variant|age_int|   created_timestamp|newsletter_bool|login_count_int|
+--------------------+-----------+-------+--------------------+---------------+---------------+
|eecea0f0-eab8-419...|         39|     39|2023-03-04 14:33:...|           true|           NULL|
|bb3f174f-01e9-413...|         29|     29|2025-04-13 16:42:...|           true|           NULL|
|d2c36846-6a45-4b7...|         66|     66|2022-09-20 08:54:...|           true|           NULL|
|0c299963-d8bc-44f...|         41|     41|2021-04-26 17:34:...|           true|           NULL|
|b68450c0-5206-477...|         49|     49|2023-07-04 18:29:...|          false|           NULL|
+--------------------+-----------+-------+--------------------+---------------+---------------+


=== Safe Casting with TRY_CAST ===

HBox(children=(IntProgress(value=0, bar_style='success'), Label(value='')))

+--------------------+---+-----------------+-----------+------------+--------------------+
|             user_id|age|subscription_date|posts_count|phone_number|     last_login_time|
+--------------------+---+-----------------+-----------+------------+--------------------+
|eecea0f0-eab8-419...| 39|             NULL|       NULL|        NULL|2025-09-10 14:35:...|
|bb3f174f-01e9-413...| 29|             NULL|       NULL|        NULL|2025-09-12 01:51:...|
|d2c36846-6a45-4b7...| 66|             NULL|       NULL|        NULL|2025-09-11 05:37:...|
|0c299963-d8bc-44f...| 41|             NULL|       NULL|        NULL|2025-08-24 18:51:...|
|b68450c0-5206-477...| 49|             NULL|       NULL|        NULL|2025-08-30 13:48:...|
+--------------------+---+-----------------+-----------+------------+--------------------+

## 6. VARIANT Functions and Operations

Databricks provides several functions specifically for working with VARIANT data.

In [12]:
# VARIANT_GET function to safely extract values
print("=== Using VARIANT_GET Function ===\n")

spark.sql("""
    SELECT 
        user_id,
        VARIANT_GET(user_data, '$.name', 'STRING') as name,
        VARIANT_GET(user_data, '$.age', 'INT') as age,
        VARIANT_GET(user_data, '$.profile.interests', 'ARRAY<STRING>') as interests,
        VARIANT_GET(user_data, '$.non_existent_field', 'STRING') as missing_field
    FROM users_variant
    LIMIT 3
""").show(truncate=False)

=== Using VARIANT_GET Function ===

HBox(children=(IntProgress(value=0, bar_style='success'), Label(value='')))

+------------------------------------+--------------+---+-------------------------------------+-------------+
|user_id                             |name          |age|interests                            |missing_field|
+------------------------------------+--------------+---+-------------------------------------+-------------+
|eecea0f0-eab8-419d-8b06-dbb99aa1fe25|Brittney Smith|39 |[prepare, six, culture, citizen, its]|NULL         |
|bb3f174f-01e9-413b-908b-c46e8bee5f4c|Julie Rhodes  |29 |[probably, face, decade]             |NULL         |
|d2c36846-6a45-4b7f-a75b-911a59d37dc0|Haley Carter  |66 |[home]                               |NULL         |
+------------------------------------+--------------+---+-------------------------------------+-------------+

In [13]:
# TO_JSON and PARSE_JSON functions
print("=== Converting between VARIANT and JSON strings ===\n")

spark.sql("""
    SELECT 
        user_id,
        TO_JSON(user_data) as json_string,
        LENGTH(TO_JSON(user_data)) as json_length,
        PARSE_JSON(TO_JSON(user_data:address)) as address_variant
    FROM users_variant
    LIMIT 2
""").show(truncate=False)

# SCHEMA_OF_VARIANT to discover schema
print("\n=== Discovering Schema of VARIANT Data ===\n")

spark.sql("""
    SELECT 
        SCHEMA_OF_VARIANT(user_data) as inferred_schema,
        count(*) as count
    FROM users_variant
    GROUP BY SCHEMA_OF_VARIANT(user_data)
    ORDER BY count(*) DESC
    LIMIT 5
""").show(truncate=False)

=== Converting between VARIANT and JSON strings ===

HBox(children=(IntProgress(value=0, bar_style='success'), Label(value='')))

+------------------------------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-----------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|user_id                             |json_string                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                |json_length|address_variant                                                                                                                                                                                          |
+------------------------------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-----------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|eecea0f0-eab8-419d-8b06-dbb99aa1fe25|{"address":{"city":"Whiteport","coordinates":{"latitude":45.52434,"longitude":-63.877788},"country":"Palestinian Territory","postal_code":"61112","state":"South Dakota","street":"57118 Charles Meadows Suite 853"},"age":39,"created_at":"2023-03-04 14:33:24.612413","email":"ronaldlindsey@example.com","last_login":"2025-09-10 14:35:26.009583","name":"Brittney Smith","preferences":{"newsletter":true,"notifications":{"email":false,"frequency":"weekly","push":false,"sms":false},"privacy":{"profile_visible":false,"show_email":true,"show_location":false}},"profile":{"bio":"Company because natural drive serve student. Late their already health everybody you. Or old despite chance our among just challenge.","company":"Wilson, Harrington and Ryan","interests":["prepare","six","culture","citizen","its"],"occupation":"Hotel manager","skills":["Automotive engineer"]},"user_id":"eecea0f0-eab8-419d-8b06-dbb99aa1fe25","username":"melissakim"}|939        |{"city":"Whiteport","coordinates":{"latitude":45.52434,"longitude":-63.877788},"country":"Palestinian Territory","postal_code":"61112","state":"South Dakota","street":"57118 Charles Meadows Suite 853"}|
|bb3f174f-01e9-413b-908b-c46e8bee5f4c|{"address":{"city":"Jamesville","coordinates":{"latitude":30.179289,"longitude":33.098233},"country":"Sierra Leone","postal_code":"99204","state":"Indiana","street":"207 Reyes Points"},"age":29,"created_at":"2025-04-13 16:42:24.125993","email":"smithgregory@example.org","last_login":"2025-09-12 01:51:21.963096","name":"Julie Rhodes","preferences":{"newsletter":true,"notifications":{"email":true,"frequency":"daily","push":false,"sms":false},"privacy":{"profile_visible":true,"show_email":true,"show_location":false}},"profile":{"bio":"Against deep region station hear still produce. Kid interesting ahead.\nFigure week wear movie hit say know. Least state only. Although feeling take must.","company":"Maxwell-Joseph","interests":["probably","face","decade"],"occupation":"Therapist, speech and language","skills":[]},"user_id":"bb3f174f-01e9-413b-908b-c46e8bee5f4c","username":"wilsondonna"}                                            |895        |{"city":"Jamesville","coordinates":{"latitude":30.179289,"longitude":33.098233},"country":"Sierra Leone","postal_code":"99204","state":"Indiana","street":"207 Reyes Points"}                            |
+------------------------------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-----------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+


=== Discovering Schema of VARIANT Data ===

HBox(children=(IntProgress(value=0, bar_style='success'), Label(value='')))

+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-----+
|inferred_schema                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   |count|
+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-----+
|OBJECT<address: OBJECT<city: STRING, coordinates: OBJECT<latitude: DECIMAL(9,7), longitude: DECIMAL(8,6)>, country: STRING, postal_code: STRING, state: STRING, street: STRING>, age: BIGINT, created_at: STRING, email: STRING, last_login: STRING, name: STRING, preferences: OBJECT<newsletter: BOOLEAN, notifications: OBJECT<email: BOOLEAN, frequency: STRING, push: BOOLEAN, sms: BOOLEAN>, privacy: OBJECT<profile_visible: BOOLEAN, show_email: BOOLEAN, show_location: BOOLEAN>>, profile: OBJECT<bio: STRING, company: STRING, interests: ARRAY<STRING>, occupation: STRING, skills: ARRAY<STRING>>, user_id: STRING, username: STRING>|31   |
|OBJECT<address: OBJECT<city: STRING, coordinates: OBJECT<latitude: DECIMAL(8,6), longitude: DECIMAL(8,6)>, country: STRING, postal_code: STRING, state: STRING, street: STRING>, age: BIGINT, created_at: STRING, email: STRING, last_login: STRING, name: STRING, preferences: OBJECT<newsletter: BOOLEAN, notifications: OBJECT<email: BOOLEAN, frequency: STRING, push: BOOLEAN, sms: BOOLEAN>, privacy: OBJECT<profile_visible: BOOLEAN, show_email: BOOLEAN, show_location: BOOLEAN>>, profile: OBJECT<bio: STRING, company: STRING, interests: ARRAY<STRING>, occupation: STRING, skills: ARRAY<STRING>>, user_id: STRING, username: STRING>|26   |
|OBJECT<address: OBJECT<city: STRING, coordinates: OBJECT<latitude: DECIMAL(8,6), longitude: DECIMAL(8,6)>, country: STRING, postal_code: STRING, state: STRING, street: STRING>, age: BIGINT, created_at: STRING, email: STRING, last_login: STRING, name: STRING, preferences: OBJECT<newsletter: BOOLEAN, notifications: OBJECT<email: BOOLEAN, frequency: STRING, push: BOOLEAN, sms: BOOLEAN>, privacy: OBJECT<profile_visible: BOOLEAN, show_email: BOOLEAN, show_location: BOOLEAN>>, profile: OBJECT<bio: STRING, company: STRING, interests: ARRAY<STRING>, occupation: STRING, skills: ARRAY<VOID>>, user_id: STRING, username: STRING>  |19   |
|OBJECT<address: OBJECT<city: STRING, coordinates: OBJECT<latitude: DECIMAL(9,7), longitude: DECIMAL(9,6)>, country: STRING, postal_code: STRING, state: STRING, street: STRING>, age: BIGINT, created_at: STRING, email: STRING, last_login: STRING, name: STRING, preferences: OBJECT<newsletter: BOOLEAN, notifications: OBJECT<email: BOOLEAN, frequency: STRING, push: BOOLEAN, sms: BOOLEAN>, privacy: OBJECT<profile_visible: BOOLEAN, show_email: BOOLEAN, show_location: BOOLEAN>>, profile: OBJECT<bio: STRING, company: STRING, interests: ARRAY<STRING>, occupation: STRING, skills: ARRAY<STRING>>, user_id: STRING, username: STRING>|19   |
|OBJECT<address: OBJECT<city: STRING, coordinates: OBJECT<latitude: DECIMAL(8,6), longitude: DECIMAL(9,6)>, country: STRING, postal_code: STRING, state: STRING, street: STRING>, age: BIGINT, created_at: STRING, email: STRING, last_login: STRING, name: STRING, preferences: OBJECT<newsletter: BOOLEAN, notifications: OBJECT<email: BOOLEAN, frequency: STRING, push: BOOLEAN, sms: BOOLEAN>, privacy: OBJECT<profile_visible: BOOLEAN, show_email: BOOLEAN, show_location: BOOLEAN>>, profile: OBJECT<bio: STRING, company: STRING, interests: ARRAY<STRING>, occupation: STRING, skills: ARRAY<STRING>>, user_id: STRING, username: STRING>|18   |
+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-----+

In [14]:
# SCHEMA_OF_VARIANT_AGG 
print("\n=== SCHEMA_OF_VARIANT_AGG Examples ===\n")

# Example 1: Get combined schema of all VARIANT values
print("1. Combined schema of all VARIANT values:")
spark.sql("""
    SELECT SCHEMA_OF_VARIANT_AGG(user_data) as  
    FROM users_variant
""").show(truncate=False)

# Example 2: Get schema grouped by subscription tier
print("\n2. Schema grouped by subscription tier:")
spark.sql("""
    SELECT 
        CAST(user_data:subscription.tier AS STRING) as subscription_tier,
        SCHEMA_OF_VARIANT_AGG(user_data) as tier_schema,
        COUNT(*) as record_count
    FROM users_variant 
    WHERE NOT IS_VARIANT_NULL(user_data:subscription.tier)
    GROUP BY CAST(user_data:subscription.tier AS STRING)
    ORDER BY record_count DESC
""").show(truncate=False)

=== SCHEMA_OF_VARIANT_AGG Examples ===

1. Combined schema of all VARIANT values:

HBox(children=(IntProgress(value=0, bar_style='success'), Label(value='')))

+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|as                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            |
+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|OBJECT<address: OBJECT<city: STRING, coordinates: OBJECT<latitude: DECIMAL(9,7), longitude: DECIMAL(9,6)>, country: STRING, postal_code: STRING, state: STRING, street: STRING>, age: BIGINT, created_at: STRING, email: STRING, last_login: STRING, metrics: OBJECT<comments_made: BIGINT, last_activity: STRING, login_count: BIGINT, posts_created: BIGINT>, name: STRING, phone: STRING, preferences: OBJECT<newsletter: BOOLEAN, notifications: OBJECT<email: BOOLEAN, frequency: STRING, push: BOOLEAN, sms: BOOLEAN>, privacy: OBJECT<profile_visible: BOOLEAN, show_email: BOOLEAN, show_location: BOOLEAN>>, profile: OBJECT<bio: STRING, company: STRING, interests: ARRAY<STRING>, occupation: STRING, skills: ARRAY<STRING>>, referral_code: STRING, referred_by: STRING, social_media: OBJECT<github: STRING, linkedin: STRING, twitter: STRING>, subscription: OBJECT<auto_renew: BOOLEAN, start_date: STRING, tier: STRING>, user_id: STRING, username: STRING>|
+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+


2. Schema grouped by subscription tier:

HBox(children=(IntProgress(value=0, bar_style='success'), Label(value='')))

+-----------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+
|subscription_tier|tier_schema                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   |record_count|
+-----------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+
|NULL             |OBJECT<address: OBJECT<city: STRING, coordinates: OBJECT<latitude: DECIMAL(9,7), longitude: DECIMAL(9,6)>, country: STRING, postal_code: STRING, state: STRING, street: STRING>, age: BIGINT, created_at: STRING, email: STRING, last_login: STRING, name: STRING, phone: STRING, preferences: OBJECT<newsletter: BOOLEAN, notifications: OBJECT<email: BOOLEAN, frequency: STRING, push: BOOLEAN, sms: BOOLEAN>, privacy: OBJECT<profile_visible: BOOLEAN, show_email: BOOLEAN, show_location: BOOLEAN>>, profile: OBJECT<bio: STRING, company: STRING, interests: ARRAY<STRING>, occupation: STRING, skills: ARRAY<STRING>>, referral_code: STRING, referred_by: STRING, social_media: OBJECT<github: STRING, linkedin: STRING, twitter: STRING>, user_id: STRING, username: STRING>                                                                                                                                                                                        |601         |
|enterprise       |OBJECT<address: OBJECT<city: STRING, coordinates: OBJECT<latitude: DECIMAL(9,7), longitude: DECIMAL(9,6)>, country: STRING, postal_code: STRING, state: STRING, street: STRING>, age: BIGINT, created_at: STRING, email: STRING, last_login: STRING, metrics: OBJECT<comments_made: BIGINT, last_activity: STRING, login_count: BIGINT, posts_created: BIGINT>, name: STRING, phone: STRING, preferences: OBJECT<newsletter: BOOLEAN, notifications: OBJECT<email: BOOLEAN, frequency: STRING, push: BOOLEAN, sms: BOOLEAN>, privacy: OBJECT<profile_visible: BOOLEAN, show_email: BOOLEAN, show_location: BOOLEAN>>, profile: OBJECT<bio: STRING, company: STRING, interests: ARRAY<STRING>, occupation: STRING, skills: ARRAY<STRING>>, referral_code: STRING, referred_by: STRING, social_media: OBJECT<github: STRING, linkedin: STRING, twitter: STRING>, subscription: OBJECT<auto_renew: BOOLEAN, start_date: STRING, tier: STRING>, user_id: STRING, username: STRING>|114         |
|premium          |OBJECT<address: OBJECT<city: STRING, coordinates: OBJECT<latitude: DECIMAL(9,7), longitude: DECIMAL(9,6)>, country: STRING, postal_code: STRING, state: STRING, street: STRING>, age: BIGINT, created_at: STRING, email: STRING, last_login: STRING, metrics: OBJECT<comments_made: BIGINT, last_activity: STRING, login_count: BIGINT, posts_created: BIGINT>, name: STRING, phone: STRING, preferences: OBJECT<newsletter: BOOLEAN, notifications: OBJECT<email: BOOLEAN, frequency: STRING, push: BOOLEAN, sms: BOOLEAN>, privacy: OBJECT<profile_visible: BOOLEAN, show_email: BOOLEAN, show_location: BOOLEAN>>, profile: OBJECT<bio: STRING, company: STRING, interests: ARRAY<STRING>, occupation: STRING, skills: ARRAY<STRING>>, referral_code: STRING, referred_by: STRING, social_media: OBJECT<github: STRING, linkedin: STRING, twitter: STRING>, subscription: OBJECT<auto_renew: BOOLEAN, start_date: STRING, tier: STRING>, user_id: STRING, username: STRING>|104         |
|basic            |OBJECT<address: OBJECT<city: STRING, coordinates: OBJECT<latitude: DECIMAL(9,7), longitude: DECIMAL(9,6)>, country: STRING, postal_code: STRING, state: STRING, street: STRING>, age: BIGINT, created_at: STRING, email: STRING, last_login: STRING, metrics: OBJECT<comments_made: BIGINT, last_activity: STRING, login_count: BIGINT, posts_created: BIGINT>, name: STRING, phone: STRING, preferences: OBJECT<newsletter: BOOLEAN, notifications: OBJECT<email: BOOLEAN, frequency: STRING, push: BOOLEAN, sms: BOOLEAN>, privacy: OBJECT<profile_visible: BOOLEAN, show_email: BOOLEAN, show_location: BOOLEAN>>, profile: OBJECT<bio: STRING, company: STRING, interests: ARRAY<STRING>, occupation: STRING, skills: ARRAY<STRING>>, referral_code: STRING, referred_by: STRING, social_media: OBJECT<github: STRING, linkedin: STRING, twitter: STRING>, subscription: OBJECT<auto_renew: BOOLEAN, start_date: STRING, tier: STRING>, user_id: STRING, username: STRING>|94          |
|free             |OBJECT<address: OBJECT<city: STRING, coordinates: OBJECT<latitude: DECIMAL(9,7), longitude: DECIMAL(9,6)>, country: STRING, postal_code: STRING, state: STRING, street: STRING>, age: BIGINT, created_at: STRING, email: STRING, last_login: STRING, metrics: OBJECT<comments_made: BIGINT, last_activity: STRING, login_count: BIGINT, posts_created: BIGINT>, name: STRING, phone: STRING, preferences: OBJECT<newsletter: BOOLEAN, notifications: OBJECT<email: BOOLEAN, frequency: STRING, push: BOOLEAN, sms: BOOLEAN>, privacy: OBJECT<profile_visible: BOOLEAN, show_email: BOOLEAN, show_location: BOOLEAN>>, profile: OBJECT<bio: STRING, company: STRING, interests: ARRAY<STRING>, occupation: STRING, skills: ARRAY<STRING>>, referral_code: STRING, referred_by: STRING, social_media: OBJECT<github: STRING, linkedin: STRING, twitter: STRING>, subscription: OBJECT<auto_renew: BOOLEAN, start_date: STRING, tier: STRING>, user_id: STRING, username: STRING>|87          |
+-----------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+

## 7. Filtering and Conditional Logic with VARIANT

Let's explore how to filter and apply conditions on VARIANT data.

In [15]:
# Filtering based on VARIANT field values
print("=== Filtering on VARIANT Fields ===\n")

spark.sql("""
    SELECT 
        user_id,
        user_data:name as name,
        user_data:age as age,
        user_data:address.country as country
    FROM users_variant
    WHERE CAST(user_data:age AS INT) > 30
        AND CAST(user_data:preferences.newsletter AS BOOLEAN) = true
        AND NOT IS_VARIANT_NULL(user_data:address.country)
    LIMIT 5
""").show()

# Complex filtering with nested conditions
print("\n=== Complex Filtering with Nested VARIANT Fields ===\n")

spark.sql("""
    SELECT 
        user_id,
        user_data:name as name,
        user_data:age as age,
        CAST(user_data:subscription.tier AS STRING) as subscription_tier,
        user_data:metrics.login_count as login_count
    FROM users_variant
    WHERE NOT IS_VARIANT_NULL(user_data:subscription.tier)
        AND NOT IS_VARIANT_NULL(user_data:metrics.login_count)
        AND CAST(user_data:age AS INT) BETWEEN 25 AND 60
        AND CAST(user_data:metrics.login_count AS INT) > 10
    ORDER BY CAST(user_data:metrics.login_count AS INT) DESC
    LIMIT 5
""").show()

=== Filtering on VARIANT Fields ===

HBox(children=(IntProgress(value=0, bar_style='success'), Label(value='')))

+--------------------+----------------+---+--------------------+
|             user_id|            name|age|             country|
+--------------------+----------------+---+--------------------+
|eecea0f0-eab8-419...|"Brittney Smith"| 39|"Palestinian Terr...|
|d2c36846-6a45-4b7...|  "Haley Carter"| 66|            "Angola"|
|0c299963-d8bc-44f...|  "Amanda Allen"| 41|             "Sudan"|
|884a1eb1-3f66-4f4...|  "Anna Sherman"| 56|"Bosnia and Herze...|
|c98f5c11-132a-4db...| "Michael Henry"| 31|              "Guam"|
+--------------------+----------------+---+--------------------+


=== Complex Filtering with Nested VARIANT Fields ===

HBox(children=(IntProgress(value=0, bar_style='success'), Label(value='')))

+--------------------+----------------+---+-----------------+-----------+
|             user_id|            name|age|subscription_tier|login_count|
+--------------------+----------------+---+-----------------+-----------+
|b8dcdbf9-b680-428...| "George Miller"| 26|          premium|        998|
|1f607cf5-323a-495...|"Melissa Gordon"| 38|            basic|        998|
|92a45b2e-3946-472...| "Jeffrey Jones"| 60|            basic|        996|
|a5cd745f-0ace-449...|   "Donna Lewis"| 49|             free|        995|
|b2956187-db14-4ae...|"James Campbell"| 29|             free|        980|
+--------------------+----------------+---+-----------------+-----------+

In [16]:
# Using CASE statements with VARIANT
print("=== CASE Statements with VARIANT ===\n")

spark.sql("""
    SELECT 
        user_id,
        user_data:name as name,
        user_data:age as age,
        CAST(user_data:subscription.tier AS STRING) as subscription_tier,
        CASE 
            WHEN CAST(user_data:age AS INT) < 25 THEN 'Young'
            WHEN CAST(user_data:age AS INT) BETWEEN 25 AND 50 THEN 'Adult'
            WHEN CAST(user_data:age AS INT) > 50 THEN 'Senior'
            ELSE 'Unknown'
        END as age_group,
        CASE 
            WHEN CAST(user_data:subscription.tier AS STRING) = 'free' THEN 'Free User'
            WHEN CAST(user_data:subscription.tier AS STRING) = 'basic' THEN 'Basic User'
            WHEN CAST(user_data:subscription.tier AS STRING) = 'premium' THEN 'Premium User'
            WHEN CAST(user_data:subscription.tier AS STRING) = 'enterprise' THEN 'Enterprise User'
            ELSE 'No Subscription'
        END as user_category
    FROM users_variant
    LIMIT 10
""").show(truncate=False)

=== CASE Statements with VARIANT ===

HBox(children=(IntProgress(value=0, bar_style='success'), Label(value='')))

+------------------------------------+-----------------+---+-----------------+---------+---------------+
|user_id                             |name             |age|subscription_tier|age_group|user_category  |
+------------------------------------+-----------------+---+-----------------+---------+---------------+
|eecea0f0-eab8-419d-8b06-dbb99aa1fe25|"Brittney Smith" |39 |NULL             |Adult    |No Subscription|
|bb3f174f-01e9-413b-908b-c46e8bee5f4c|"Julie Rhodes"   |29 |NULL             |Adult    |No Subscription|
|d2c36846-6a45-4b7f-a75b-911a59d37dc0|"Haley Carter"   |66 |NULL             |Senior   |No Subscription|
|0c299963-d8bc-44fd-97db-cd977623b678|"Amanda Allen"   |41 |NULL             |Adult    |No Subscription|
|b68450c0-5206-4779-8bf6-07b496ca7ded|"Melissa Bush"   |49 |NULL             |Adult    |No Subscription|
|884a1eb1-3f66-4f4f-979f-8a033ae0b2a3|"Anna Sherman"   |56 |NULL             |Senior   |No Subscription|
|32832818-e123-480d-97ed-da915026ea60|"Kim Smith"      |41 |NULL             |Adult    |No Subscription|
|12d559b1-2215-4276-931f-30e986fa9411|"Michelle Palmer"|26 |NULL             |Adult    |No Subscription|
|f08ba25e-19e0-424d-85a6-9111ebe6d858|"Jason Montes"   |65 |NULL             |Senior   |No Subscription|
|395f69d1-c9f1-48fb-8d6f-5cfc169498fe|"John Mills"     |23 |NULL             |Young    |No Subscription|
+------------------------------------+-----------------+---+-----------------+---------+---------------+

## 8. Aggregations with VARIANT Data

Performing aggregations on data stored in VARIANT columns.

In [17]:
# Aggregating VARIANT data
print("=== Aggregations on VARIANT Data ===\n")

spark.sql("""
    SELECT 
        COUNT(*) as user_count,
        AVG(CAST(user_data:age AS INT)) as avg_age,
        MIN(CAST(user_data:age AS INT)) as min_age,
        MAX(CAST(user_data:age AS INT)) as max_age
    FROM users_variant
""").show()

# Aggregating by subscription tier
print("\n=== Subscription Tier Aggregations ===\n")

spark.sql("""
    SELECT 
        CAST(user_data:subscription.tier AS STRING) as subscription_tier,
        COUNT(*) as user_count,
        AVG(CAST(user_data:age AS INT)) as avg_age,
        AVG(CAST(user_data:metrics.login_count AS INT)) as avg_login_count,
        AVG(CAST(user_data:metrics.posts_created AS INT)) as avg_posts
    FROM users_variant
    WHERE NOT IS_VARIANT_NULL(user_data:subscription.tier)
    GROUP BY CAST(user_data:subscription.tier AS STRING)
    ORDER BY user_count DESC
""").show()

=== Aggregations on VARIANT Data ===

HBox(children=(IntProgress(value=0, bar_style='success'), Label(value='')))

+----------+-------+-------+-------+
|user_count|avg_age|min_age|max_age|
+----------+-------+-------+-------+
|      1000| 48.988|     18|     80|
+----------+-------+-------+-------+


=== Subscription Tier Aggregations ===

HBox(children=(IntProgress(value=0, bar_style='success'), Label(value='')))

+-----------------+----------+------------------+------------------+------------------+
|subscription_tier|user_count|           avg_age|   avg_login_count|         avg_posts|
+-----------------+----------+------------------+------------------+------------------+
|             NULL|       601| 49.06322795341098|              NULL|              NULL|
|       enterprise|       114| 48.59649122807018| 537.5964912280701|260.62280701754383|
|          premium|       104| 51.49038461538461| 523.4230769230769|269.38461538461536|
|            basic|        94|46.861702127659576|             469.5| 247.0212765957447|
|             free|        87| 48.28735632183908|503.01149425287355|236.11494252873564|
+-----------------+----------+------------------+------------------+------------------+

In [18]:
# Complex aggregations with array data
print("=== Aggregating Array Data in VARIANT ===\n")

spark.sql("""
    SELECT 
        AVG(SIZE(CAST(user_data:profile.interests AS ARRAY<STRING>))) as avg_interests_per_user,
        MAX(SIZE(CAST(user_data:profile.interests AS ARRAY<STRING>))) as max_interests,
        MIN(SIZE(CAST(user_data:profile.interests AS ARRAY<STRING>))) as min_interests
    FROM users_variant
    WHERE NOT IS_VARIANT_NULL(user_data:profile.interests)
""").show()

# Aggregating skills data
print("\n=== Skills Aggregation ===\n")

spark.sql("""
    WITH user_skills AS (
        SELECT 
            user_id,
            user_data:name as name,
            SIZE(CAST(user_data:profile.skills AS ARRAY<STRING>)) as skill_count,
            user_data:profile.skills as skills
        FROM users_variant
        WHERE NOT IS_VARIANT_NULL(user_data:profile.skills)
    )
    SELECT 
        COUNT(*) as users_with_skills,
        AVG(skill_count) as avg_skills_per_user,
        MAX(skill_count) as max_skills,
        MIN(skill_count) as min_skills
    FROM user_skills
""").show()

=== Aggregating Array Data in VARIANT ===

HBox(children=(IntProgress(value=0, bar_style='success'), Label(value='')))

+----------------------+-------------+-------------+
|avg_interests_per_user|max_interests|min_interests|
+----------------------+-------------+-------------+
|                 3.041|            5|            1|
+----------------------+-------------+-------------+


=== Skills Aggregation ===

HBox(children=(IntProgress(value=0, bar_style='success'), Label(value='')))

+-----------------+-------------------+----------+----------+
|users_with_skills|avg_skills_per_user|max_skills|min_skills|
+-----------------+-------------------+----------+----------+
|             1000|              1.435|         3|         0|
+-----------------+-------------------+----------+----------+

## 9. Window Functions with VARIANT

Using window functions to analyze VARIANT data.

In [19]:
# Window functions with VARIANT data
print("=== Window Functions on VARIANT Data ===\n")

spark.sql("""
    SELECT 
        user_id,
        user_data:name as name,
        user_data:age as age,
        CAST(user_data:address.country AS STRING) as country,
        CAST(user_data:metrics.login_count AS INT) as login_count,
        RANK() OVER (PARTITION BY CAST(user_data:address.country AS STRING) ORDER BY CAST(user_data:age AS INT) DESC) as age_rank_in_country,
        DENSE_RANK() OVER (ORDER BY CAST(user_data:metrics.login_count AS INT) DESC) as login_rank,
        AVG(CAST(user_data:age AS INT)) OVER (PARTITION BY CAST(user_data:address.country AS STRING)) as country_avg_age
    FROM users_variant
    WHERE NOT IS_VARIANT_NULL(user_data:metrics.login_count)
        AND NOT IS_VARIANT_NULL(user_data:address.country)
    ORDER BY country, age_rank_in_country
    LIMIT 15
""").show(truncate=False)

# Running totals and cumulative stats
print("\n=== Cumulative Statistics with VARIANT ===\n")

spark.sql("""
    WITH user_activity AS (
        SELECT 
            user_id,
            user_data:name as name,
            CAST(user_data:created_at AS TIMESTAMP) as created_time,
            CAST(user_data:metrics.login_count AS INT) as login_count,
            CAST(user_data:metrics.posts_created AS INT) as posts_created
        FROM users_variant
        WHERE NOT IS_VARIANT_NULL(user_data:metrics.login_count)
            AND NOT IS_VARIANT_NULL(user_data:created_at)
    )
    SELECT 
        user_id,
        name,
        created_time,
        login_count,
        posts_created,
        AVG(login_count) OVER (
            ORDER BY created_time 
            ROWS BETWEEN 2 PRECEDING AND CURRENT ROW
        ) as moving_avg_logins,
        MAX(login_count) OVER (
            ORDER BY created_time
        ) as max_logins_so_far
    FROM user_activity
    ORDER BY created_time
    LIMIT 10
""").show(truncate=False)

=== Window Functions on VARIANT Data ===

HBox(children=(IntProgress(value=0, bar_style='success'), Label(value='')))

+------------------------------------+-------------------+---+--------------+-----------+-------------------+----------+------------------+
|user_id                             |name               |age|country       |login_count|age_rank_in_country|login_rank|country_avg_age   |
+------------------------------------+-------------------+---+--------------+-----------+-------------------+----------+------------------+
|3fde8c5b-42d4-4c8c-87c2-810a9d8abd87|"Jason Sanchez"    |44 |Afghanistan   |799        |1                  |68        |42.5              |
|561a5430-94bb-494c-b13a-48398c7c4a9d|"Kevin Cochran"    |41 |Afghanistan   |NULL       |2                  |337       |42.5              |
|c1b75556-007b-4188-8a28-2a100b1f64c9|"Ann Brady"        |68 |Albania       |NULL       |1                  |337       |39.666666666666664|
|e8f9ea54-a187-40e3-952e-8b00ec56bf51|"John Dean"        |50 |Albania       |NULL       |2                  |337       |39.666666666666664|
|9374333c-0c6a-4b0a-9757-772ee2138383|"Scott Smith"      |45 |Albania       |78         |3                  |311       |39.666666666666664|
|13a6f79a-218e-44cd-813f-24bd1c91135a|"Cristina Holmes"  |37 |Albania       |NULL       |4                  |337       |39.666666666666664|
|4094c0c0-f7a6-4959-9b9c-1ac6c2f6c324|"Gregory Wood"     |20 |Albania       |NULL       |5                  |337       |39.666666666666664|
|19bcbbe5-b5ca-4106-8119-ad6fefa5313b|"Brianna Donaldson"|18 |Albania       |NULL       |6                  |337       |39.666666666666664|
|c6e38585-0868-4d06-bfa7-da9848991cf0|"Clayton Wright"   |77 |Algeria       |NULL       |1                  |337       |58.2              |
|1e7af1fa-c2ca-4d7a-bd52-6ae73ad9d578|"Stephen Hurst"    |73 |Algeria       |NULL       |2                  |337       |58.2              |
|9f3fa72d-e4a9-49dc-b425-0b262a342855|"Nicole Dennis"    |65 |Algeria       |272        |3                  |246       |58.2              |
|b2f1f042-c668-4c1c-b0df-63db321ad3b6|"Alan Bradshaw"    |40 |Algeria       |NULL       |4                  |337       |58.2              |
|7337898d-141d-47ab-a5dc-1c5e133b9a94|"Connie Harris"    |36 |Algeria       |NULL       |5                  |337       |58.2              |
|b738b86a-f9db-4901-8df0-2acd0bfa7a48|"Mrs. Mary Boyd"   |68 |American Samoa|NULL       |1                  |337       |39.833333333333336|
|cc940d7f-0c3e-4eeb-b729-fd3363997b29|"Jane Green"       |42 |American Samoa|NULL       |2                  |337       |39.833333333333336|
+------------------------------------+-------------------+---+--------------+-----------+-------------------+----------+------------------+


=== Cumulative Statistics with VARIANT ===

HBox(children=(IntProgress(value=0, bar_style='success'), Label(value='')))

+------------------------------------+------------------------+--------------------------+-----------+-------------+-----------------+-----------------+
|user_id                             |name                    |created_time              |login_count|posts_created|moving_avg_logins|max_logins_so_far|
+------------------------------------+------------------------+--------------------------+-----------+-------------+-----------------+-----------------+
|c3d7323c-f4e8-4fc8-a842-3925d14e9eaa|"Albert Torres"         |2020-09-25 00:26:16.993774|261        |25           |261.0            |261              |
|6ae6c1ef-1314-4d74-9295-0c9e5a38ef41|"Dr. Jeffrey Taylor Jr."|2020-09-26 10:52:38.409862|NULL       |NULL         |261.0            |261              |
|8c494d9c-f9b4-40b8-8dcf-09078c073da4|"Rose Gutierrez"        |2020-09-26 18:46:07.202694|NULL       |NULL         |261.0            |261              |
|993d4987-eed8-4e48-a022-f13a3a88f99c|"David Ortiz"           |2020-09-30 04:16:04.65847 |636        |88           |636.0            |636              |
|695d75b9-665e-4c2a-9f71-e7b83d51227c|"Whitney Turner"        |2020-10-02 20:49:36.920125|662        |158          |649.0            |662              |
|d5db5f69-52f7-4b55-85c5-90f6d1a6bbda|"Albert Osborne"        |2020-10-03 08:49:10.239633|306        |427          |534.6666666666666|662              |
|7dc80c9a-c936-4623-aaf4-4f3920f096de|"Craig Williams"        |2020-10-04 01:20:50.558768|NULL       |NULL         |484.0            |662              |
|0bf4d9ea-fd66-451b-a63d-cb7d928f3999|"Wanda Bates"           |2020-10-06 08:04:07.112533|NULL       |NULL         |306.0            |662              |
|33d657de-559e-414f-9b5a-c858343da838|"Joseph Guzman IV"      |2020-10-12 16:41:15.962187|488        |214          |488.0            |662              |
|26d3702a-df25-48b7-87c8-e940940b124a|"Glenn Delgado"         |2020-10-18 21:28:16.303212|NULL       |NULL         |488.0            |662              |
+------------------------------------+------------------------+--------------------------+-----------+-------------+-----------------+-----------------+

## 10. JOINs with VARIANT Data

Demonstrating how to join tables containing VARIANT columns.

In [20]:
# Self-join on VARIANT data
print("=== Self-Join on VARIANT Data ===\n")

spark.sql("""
    SELECT 
        u1.user_id as user1_id,
        u1.user_data:name as user1_name,
        CAST(u1.user_data:address.city AS STRING) as user1_city,
        u2.user_id as user2_id,
        u2.user_data:name as user2_name,
        CAST(u2.user_data:address.city AS STRING) as user2_city
    FROM users_variant u1
    JOIN users_variant u2
        ON CAST(u1.user_data:address.city AS STRING) = CAST(u2.user_data:address.city AS STRING)
        AND u1.user_id < u2.user_id
    WHERE NOT IS_VARIANT_NULL(u1.user_data:address.city)
    LIMIT 10
""").show(truncate=False)

# Join with extracted table for performance
print("\n=== Join with Extracted Table for Performance ===\n")

spark.sql("""
    WITH user_analysis AS (
        SELECT 
            v.user_id,
            v.user_data:name as name,
            v.user_data:age as age,
            CAST(v.user_data:address.city AS STRING) as city,
            CAST(v.user_data:subscription.tier AS STRING) as subscription_tier,
            e.name as extracted_name,
            e.age as extracted_age,
            e.city as extracted_city
        FROM users_variant v
        LEFT JOIN users_extracted e
            ON v.user_id = e.user_id
        WHERE NOT IS_VARIANT_NULL(v.user_data:subscription.tier)
    )
    SELECT * FROM user_analysis
    WHERE name IS NOT NULL
    LIMIT 5
""").show(truncate=False)

=== Self-Join on VARIANT Data ===

HBox(children=(IntProgress(value=0, bar_style='success'), Label(value='')))

+------------------------------------+---------------------+--------------+------------------------------------+--------------------+--------------+
|user1_id                            |user1_name           |user1_city    |user2_id                            |user2_name          |user2_city    |
+------------------------------------+---------------------+--------------+------------------------------------+--------------------+--------------+
|366ec3bf-c457-48d1-9065-f79ce70271a5|"Jennifer Castillo"  |Jamesshire    |50968bc1-3873-4e48-b804-24c2f45e3da6|"Mary Morrison"     |Jamesshire    |
|96288e42-8538-4c7d-8774-80f06d3839b4|"Kent Contreras"     |Brianmouth    |a5b3a908-2dd2-4e05-b3aa-74c4da7c66cc|"James Thornton"    |Brianmouth    |
|82be7626-fa5b-4b13-bf14-4a151de994ca|"Dr. Joseph Petersen"|New Jacqueline|dfc45a70-0b7a-4ae3-b646-a44d5db24092|"Karen Cummings"    |New Jacqueline|
|62400891-f271-4b76-9491-dec3b9a3acfd|"George Lewis"       |Lake John     |8a384fb4-7313-41f4-9f4c-410440bdcba7|"Terry Rodriguez"   |Lake John     |
|54e2a87a-35bf-48c7-8636-e17844b62345|"David Thompson"     |North John    |d1aa7f08-9818-4336-9ec0-d4f5277b168a|"Joshua Choi"       |North John    |
|65eefdbe-ef01-484d-945a-8a40736822eb|"Daniel Harris"      |Marychester   |f8fb4008-4b5b-4013-9d7b-39800ea26157|"Samantha Caldwell" |Marychester   |
|42d62227-2fef-4b68-8aa5-4eb0bec8a72f|"Jared Taylor"       |East Erik     |510d3bdc-eee1-4476-a9d4-272fec388c7d|"Robert Miller"     |East Erik     |
|0f7d04f5-3ea8-4b7c-b8f7-c70698df156e|"Holly Cowan"        |Lake Emily    |788a9ac8-d13e-4083-a603-6f9f2191e17b|"Sabrina Washington"|Lake Emily    |
|1c33bdda-cd3f-4b4e-9d36-31021e342fdf|"Thomas Carey"       |West David    |a255b287-5c06-4d02-882c-f4ee27b6e608|"Jesse Moyer"       |West David    |
|6a5df95f-40cb-4550-b5cf-87085a5c59d7|"Emily Burns"        |South Mary    |be421236-0ba9-4a8f-ad22-ea74ab17fdec|"Pamela Harris"     |South Mary    |
+------------------------------------+---------------------+--------------+------------------------------------+--------------------+--------------+


=== Join with Extracted Table for Performance ===

HBox(children=(IntProgress(value=0, bar_style='success'), Label(value='')))

+------------------------------------+----------------+---+------------+-----------------+--------------+-------------+--------------+
|user_id                             |name            |age|city        |subscription_tier|extracted_name|extracted_age|extracted_city|
+------------------------------------+----------------+---+------------+-----------------+--------------+-------------+--------------+
|eecea0f0-eab8-419d-8b06-dbb99aa1fe25|"Brittney Smith"|39 |Whiteport   |NULL             |Brittney Smith|39           |Whiteport     |
|bb3f174f-01e9-413b-908b-c46e8bee5f4c|"Julie Rhodes"  |29 |Jamesville  |NULL             |Julie Rhodes  |29           |Jamesville    |
|d2c36846-6a45-4b7f-a75b-911a59d37dc0|"Haley Carter"  |66 |West Jeremy |NULL             |Haley Carter  |66           |West Jeremy   |
|0c299963-d8bc-44fd-97db-cd977623b678|"Amanda Allen"  |41 |Michaelburgh|NULL             |Amanda Allen  |41           |Michaelburgh  |
|b68450c0-5206-4779-8bf6-07b496ca7ded|"Melissa Bush"  |49 |Port Emily  |NULL             |Melissa Bush  |49           |Port Emily    |
+------------------------------------+----------------+---+------------+-----------------+--------------+-------------+--------------+

## 11. Advanced VARIANT Use Cases

Let's explore some advanced use cases and patterns.

In [21]:
# Dynamic schema evolution handling
print("=== Demonstrating Schema Evolution with VARIANT ===\n")

# The data we generated already simulates schema evolution
# Let's query to show how VARIANT handles different schema versions seamlessly

print("Schema Evolution in our user data:")
print("- First 30% of users: Basic schema")
print("- Next 30% of users: Added social_media fields")
print("- Last 40% of users: Added subscription and metrics fields\n")

# Query showing all schema versions work together
spark.sql("""
    SELECT 
        user_id,
        user_data:name as name,
        user_data:email as email,
        user_data:phone as phone,  -- Optional field
        user_data:social_media.twitter as twitter,  -- Added in v2
        user_data:subscription.tier as subscription_tier,  -- Added in v3
        user_data:metrics.login_count as login_count  -- Added in v3
    FROM users_variant
    WHERE user_id IN (
        (SELECT user_id FROM users_variant LIMIT 1 OFFSET 100)
        UNION ALL
        (SELECT user_id FROM users_variant LIMIT 1 OFFSET 500)
        UNION ALL
        (SELECT user_id FROM users_variant LIMIT 1 OFFSET 900)
    )
""").show(truncate=False)

print("\n✅ VARIANT seamlessly handles schema evolution - old and new fields coexist!")

=== Demonstrating Schema Evolution with VARIANT ===

Schema Evolution in our user data:
- First 30% of users: Basic schema
- Next 30% of users: Added social_media fields
- Last 40% of users: Added subscription and metrics fields

HBox(children=(IntProgress(value=0, bar_style='success'), Label(value='')))

+------------------------------------+----------------+------------------------------+------------------------+---------------+-----------------+-----------+
|user_id                             |name            |email                         |phone                   |twitter        |subscription_tier|login_count|
+------------------------------------+----------------+------------------------------+------------------------+---------------+-----------------+-----------+
|aa678282-2c08-4c58-a033-121fa20018ee|"Jessica Ashley"|"phaynes@example.net"         |"001-638-430-2700x56930"|NULL           |NULL             |NULL       |
|0000a2e5-f9ac-4a06-b3f6-37bedd425ba1|"David Meyer"   |"shannonhernandez@example.com"|NULL                    |"@morrowangela"|NULL             |NULL       |
|de6cf9d6-7c80-4c67-8b95-98bee786507c|"Trevor Shah"   |"joannapena@example.net"      |"001-511-671-1658"      |"@hunterwilson"|"enterprise"     |922        |
+------------------------------------+----------------+------------------------------+------------------------+---------------+-----------------+-----------+


✅ VARIANT seamlessly handles schema evolution - old and new fields coexist!

In [22]:
# Pivoting VARIANT data
print("=== Pivoting VARIANT Data ===\n")

spark.sql("""
    WITH subscription_counts AS (
        SELECT 
            CAST(user_data:address.country AS STRING) as country,
            CAST(user_data:subscription.tier AS STRING) as subscription_tier,
            COUNT(*) as user_count
        FROM users_variant
        WHERE NOT IS_VARIANT_NULL(user_data:subscription.tier)
            AND NOT IS_VARIANT_NULL(user_data:address.country)
        GROUP BY country, subscription_tier
    )
    SELECT * FROM subscription_counts
    PIVOT (
        SUM(user_count)
        FOR subscription_tier IN ('free', 'basic', 'premium', 'enterprise')
    )
    ORDER BY country
    LIMIT 10
""").show()

# Creating materialized views from VARIANT data
print("\n=== Creating Structured View from VARIANT ===\n")

spark.sql("""
    CREATE OR REPLACE TEMPORARY VIEW user_details AS
    SELECT 
        user_id,
        CAST(user_data:name AS STRING) as name,
        CAST(user_data:email AS STRING) as email,
        CAST(user_data:age AS INT) as age,
        CAST(user_data:address.city AS STRING) as city,
        CAST(user_data:address.country AS STRING) as country,
        CAST(user_data:preferences.newsletter AS BOOLEAN) as newsletter_opt_in,
        CAST(user_data:created_at AS TIMESTAMP) as created_date,
        SIZE(CAST(user_data:profile.interests AS ARRAY<STRING>)) as interest_count
    FROM users_variant
""")

print("✅ Created structured view from VARIANT data")

spark.sql("SELECT * FROM user_details LIMIT 5").show()

=== Pivoting VARIANT Data ===

HBox(children=(IntProgress(value=0, bar_style='success'), Label(value='')))

+--------------------+----+-----+-------+----------+
|             country|free|basic|premium|enterprise|
+--------------------+----+-----+-------+----------+
|         Afghanistan|NULL| NULL|   NULL|         1|
|             Albania|NULL|    1|   NULL|      NULL|
|             Algeria|NULL| NULL|      1|      NULL|
|      American Samoa|NULL| NULL|   NULL|         2|
|             Andorra|   1| NULL|      1|         1|
|              Angola|   1|    1|   NULL|      NULL|
|            Anguilla|NULL| NULL|   NULL|      NULL|
|Antarctica (the t...|NULL| NULL|      1|         1|
| Antigua and Barbuda|NULL|    1|   NULL|      NULL|
|           Argentina|NULL| NULL|      1|      NULL|
+--------------------+----+-----+-------+----------+


=== Creating Structured View from VARIANT ===

✅ Created structured view from VARIANT data

HBox(children=(IntProgress(value=0, bar_style='success'), Label(value='')))

+--------------------+--------------+--------------------+---+------------+--------------------+-----------------+--------------------+--------------+
|             user_id|          name|               email|age|        city|             country|newsletter_opt_in|        created_date|interest_count|
+--------------------+--------------+--------------------+---+------------+--------------------+-----------------+--------------------+--------------+
|eecea0f0-eab8-419...|Brittney Smith|ronaldlindsey@exa...| 39|   Whiteport|Palestinian Terri...|             true|2023-03-04 14:33:...|             5|
|bb3f174f-01e9-413...|  Julie Rhodes|smithgregory@exam...| 29|  Jamesville|        Sierra Leone|             true|2025-04-13 16:42:...|             3|
|d2c36846-6a45-4b7...|  Haley Carter|yhensley@example.net| 66| West Jeremy|              Angola|             true|2022-09-20 08:54:...|             1|
|0c299963-d8bc-44f...|  Amanda Allen|  fbates@example.org| 41|Michaelburgh|               Sudan|             true|2021-04-26 17:34:...|             2|
|b68450c0-5206-477...|  Melissa Bush|hicksbeth@example...| 49|  Port Emily|        Sierra Leone|            false|2023-07-04 18:29:...|             3|
+--------------------+--------------+--------------------+---+------------+--------------------+-----------------+--------------------+--------------+

## 12. Cleanup Script

This section provides a comprehensive cleanup script to remove all resources created during this exploration.

In [23]:
# Cleanup Script - Removes all resources created during VARIANT exploration

def cleanup():
    """Simple cleanup function to remove all created resources"""
    print("🧹 Cleaning up VARIANT exploration resources...")
    
    # Drop tables
    tables = ['users_variant', 'users_extracted', 'variant_optimized']
    for table in tables:
        spark.sql(f"DROP TABLE IF EXISTS {table}")
        print(f"✅ Dropped table: {table}")
    
    # Drop views
    spark.sql("DROP VIEW IF EXISTS user_details")
    print("✅ Dropped view: user_details")
    
    # Clean volume files
    users_folder = f"/Volumes/{CATALOG}/{SCHEMA}/{VOLUME}/users"
    try:
        dbutils.fs.rm(users_folder, recurse=True)
        print("✅ Cleaned volume files")
    except:
        print("⚠️  Volume files may not exist")
    
    # Reset to default catalog/schema
    spark.sql("USE CATALOG main")
    spark.sql("USE SCHEMA default")
    print("✅ Reset to main catalog, default schema")
    
    print("\n🎉 Cleanup complete!")

# Run cleanup
cleanup()

🧹 Cleaning up VARIANT exploration resources...
✅ Dropped table: users_variant
✅ Dropped table: users_extracted
✅ Dropped table: variant_optimized
✅ Dropped view: user_details
✅ Cleaned volume files
✅ Reset to main catalog, default schema

🎉 Cleanup complete!

In [24]:
# Optional: Individual cleanup functions

# def drop_tables_only():
#     """Drop only the tables"""
#     tables = ['users_variant', 'users_extracted', 'variant_optimized']
#     for table in tables:
#         spark.sql(f"DROP TABLE IF EXISTS {table}")
#         print(f"✅ Dropped {table}")

# def clean_volume_only():
#     """Clean only the volume files"""
#     dbutils.fs.rm(f"/Volumes/{CATALOG}/{SCHEMA}/{VOLUME}/users", recurse=True)
#     print("✅ Cleaned volume files")

# Usage:
# cleanup()           # Full cleanup (already run above)
# drop_tables_only()  # Drop only tables
# clean_volume_only() # Clean only volume files